doctype html
html(lang="ar")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        title Node.js with TailwindCSS, Express and Pug
        link(href="./styles/style.css" rel="stylesheet")
        link(href='https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css' rel='stylesheet')
    body
divs.mx-auto(class='w-2/3')
  .bg-white.shadow-md.rounded.my-6
    table.text-left.w-full.border-collapse
      thead
        tr
          th.py-4.px-6.bg-grey-lightest.font-bold.uppercase.text-sm.text-grey-dark.border-b.border-grey-light City
          th.py-4.px-6.bg-grey-lightest.font-bold.uppercase.text-sm.text-grey-dark.border-b.border-grey-light Actions
      tbody
        tr(class='hover:bg-grey-lighter')
          td.py-4.px-6.border-b.border-grey-light New York
          td.py-4.px-6.border-b.border-grey-light
            a.text-grey-lighter.font-bold.py-1.px-3.rounded.text-xs.bg-green(href='#' class='hover:bg-green-dark') Edit
            a.text-grey-lighter.font-bold.py-1.px-3.rounded.text-xs.bg-blue(href='#' class='hover:bg-blue-dark') View
        tr(class='hover:bg-grey-lighter')
          td.py-4.px-6.border-b.border-grey-light Paris
          td.py-4.px-6.border-b.border-grey-light
            a.text-grey-lighter.font-bold.py-1.px-3.rounded.text-xs.bg-green(href='#' class='hover:bg-green-dark') Edit
            a.text-grey-lighter.font-bold.py-1.px-3.rounded.text-xs.bg-blue(href='#' class='hover:bg-blue-dark') View
        tr(class='hover:bg-grey-lighter')
          td.py-4.px-6.border-b.border-grey-light London
          td.py-4.px-6.border-b.border-grey-light
            a.text-grey-lighter.font-bold.py-1.px-3.rounded.text-xs.bg-green(href='#' class='hover:bg-green-dark') Edit
            a.text-grey-lighter.font-bold.py-1.px-3.rounded.text-xs.bg-blue(href='#' class='hover:bg-blue-dark') View
        tr(class='hover:bg-grey-lighter')
          td.py-4.px-6.border-b.border-grey-light Oslo
          td.py-4.px-6.border-b.border-grey-light
            a.text-grey-lighter.font-bold.py-1.px-3.rounded.text-xs.bg-green(href='#' class='hover:bg-green-dark') Edit
            a.text-grey-lighter.font-bold.py-1.px-3.rounded.text-xs.bg-blue(href='#' class='hover:bg-blue-dark') View
        tr(class='hover:bg-grey-lighter')
          td.py-4.px-6.border-b.border-grey-light Mexico City
          td.py-4.px-6.border-b.border-grey-light
            a.text-grey-lighter.font-bold.py-1.px-3.rounded.text-xs.bg-green(href='#' class='hover:bg-green-dark') Edit
            a.text-grey-lighter.font-bold.py-1.px-3.rounded.text-xs.bg-blue(href='#' class='hover:bg-blue-dark') View
